  @media only screen and (max-width: 980px) and (min-width: 769px) {

body {
 line-height: 24px;
 font-size: 16px;
 }

.container,
footer: {
  display: block;
  float: none;
  width: 100%;
  max-width: 980px;
}

.container {
  width: 100%;
  max-width: 768px;
  height: auto;
  }

#logo {  
  margin-left: 0px;        
  } 

.main-section {
  float: left;
  margin-left: 30px;
}

.auth-image {
  float: none;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

nav {
  padding-right: 110px;
  }

.sidebar {
  float: right;
  max-width: 270px; 
  }

.main-section {
  float: left;
  width: 50%;
  max-width: 640px;
  clear: both;
  margin-right: 20px;
  }

  #main-container {
  padding-top: 120px;
  margin-left: 20px;
  }

footer {
  padding: 30px 0;
  }

}




/* ***************************************************************  */

  @media only screen and (max-width: 768px) and (min-width: 641px) {

body {
 line-height: 24px;
 font-size: 12px;
 }

#main-container,
.container,
.main-section,
footer: {
  display: block;
  float: none;
  width: 100%;
  max-width: 640px;
}

.container {
  width: 100%;
  max-width: 768px;
  height: auto;
  }

#logo {  
  margin-left: 20px;        
  width: 40%;
  height: 90px;
  } 


.auth-image {
  float: left;
  width: 50%;
}

nav {
  padding-right: 110px;
  }

.sidebar {
  clear: both;
  float: none;
  max-width: 768px;  
  }

.main-section {
  display: block;
  float: left;
  width: 100%;
  height: auto;
  max-width: 768px;
  clear: both;
  overflow: visible;
  }

  #main-container {
  padding-top: 120px;
  margin-left: 20px;
  }

footer {
  padding: 30px 0;
  }

.social {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-right: 5px;
}

h3,
.sidebar h2 {
  padding-bottom: 10px;
  margin-bottom: 15px;
  line-height: 12px;
}

.work img {
  width: 80%;
}
.work h3 {
  position: absolute;
  bottom: 20px;
  width: 80%;
}

}
/* *****************************************************/
 
  @media only screen and (max-width: 640px) {

body {
 line-height: 20px;
 font-size: 11px;
 
}

#masthead,
#main-container,
.container,
nav,
.main-section,
footer: {
  display: block;
  float: none;
  width: 100%;
  max-width: 640px;
}

.container {
  width: 100%;
  max-width: 640px;
  height: auto;
  }

#masthead {
  position: relative; 
  overflow: visible; 
}

#logo {          /* background behind Name */
  width: 100%;
  height: 60px;
  line-height: 60px;
  }

.auth-image {
  float: none;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right:auto;
  padding-bottom: 20px;
}
nav {
  width: 100%;
  background: #fff;
  margin-top: 0;
  text-align: center;
  }

.sidebar {
  clear: both;
  float: none;
  max-width: 640px;  
  }

.main-section {
  float: none;
  width: 100%;
  max-width: 640px;
  clear: both;
  }

  #main-container {
  padding-top: 30px;
  margin-left: 20px;
}

footer {
  padding: 20px 0;
}
.social {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-right: 5px;
}
h3,
.sidebar h2 {
  padding-bottom: 10px;
  margin-bottom: 15px;
  line-height: 12px;
}

.work {
  display: block;
  float: none;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.work:nth-child(even) {
  margin-left: auto;
  margin-right: auto;
}
.work img {
  width: 60%;
}
.work h3 {
  position: absolute;
  bottom: 20px;
  width: 60%;
}
}